body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
}

.audio-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.audio-container h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

#playBtn {
    font-size: 22px;
    padding: 15px 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

#progress {
    width: 100%;
    height: 10px;
    cursor: pointer;
}
